{% extends "base.html" %}
{% block title %}歡迎{% endblock %}
{% block content %}
<!--製作表單-->
<form action="/post/" method="POST" name="addstd">
    {% csrf_token %}
    <div>請輸入姓名: <input type="text" name="stdName" />
    <div>請輸入學號: <input type="text" name="stdID" />
    <div>請輸入性別: <input type="text" name="stdSex" />
    <div>請輸入生日: <input type="text" name="stdBirth" />
    <div>請輸入郵件帳號: <input type="text" name="stdEmail" />
        <input type="submit" value="送出資料" />
    </div>
    <div> 接收到的資料:{{mess}} </div>
</form>
{% endblock %}